<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyHieuThuoc.Properties.Settings.LTMT2_K15_Nhom11ConnectionString"
            connectionString="Data Source=EAGLE\SQLEXPRESS01;Initial Catalog=LTMT2-K15-Nhom11;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>